<div class="modal fade" id="commentDeleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Kommentar löschen</h4>
            </div>
            <div class="modal-body">
                <p>Bist Du sicher, dass Du Deinen Kommentar löschen willst?</p>
                <p><blockquote><span id="deleteCommentText"></span></blockquote></p>
                <form id="deleteCommentForm" asp-action="DeleteComment" asp-antiforgery="true">
                    <input type="hidden" id="commentId" name="commentId" />
                    <input type="hidden" id="eventId" name="eventId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button type="submit" form="deleteCommentForm" class="btn btn-danger" id="deleteCommentSubmitBtn">Änderungen speichern</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->