<div class="h3">
    <a href="https://twitter.com/tauchbolde" target="_blank" title="Tauchbolde auf Twitter">
        <i class="fab fa-twitter-square"></i>
    </a>
    <a href="https://facebook.com/tauchbolde" target="_blank" title="Tauchbolde auf Facebook">
        <i class="fab fa-facebook-square"></i>
    </a>
</div>