@model Tauchbolde.Web.Models.AboutViewModels.AboutViewModel
@{
    ViewData["Title"] = "Über uns";
}
<h2>@ViewData["Title"]</h2>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Info</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mitglieder</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="col-md-6">
                <h3>Unsere Tauchgruppe</h3>
                <p>
                    Die Tauchbolde sind ein kleiner Haufen angefressener Taucher die auch noch bei Wind und Wetter in die
                    einheimischen Seen und Flüsse steigen. Wir gehören keinem Tauchshop und keiner Tauchschule an und verstehen
                    uns auch nicht als Tauchclub. Am besten würde es das Wort "Interessensgemeinschaft" treffen.
                </p>
                <h3>Unsere Tauchreviere</h3>
                <p>
                    Wir tauchen meistens im heimischen Kaltwasser bevorzugt an schönen Steilwänden, Wracks oder fischreichen
                    Tauchplätzen. Von Zeit zu Zeit zieht es uns aber auch mal wieder ins warme Meerwasser wo wir dann sogar
                    auch mal in unsere Nassanzüge schlüpfen.
                </p>
                <h3>Unsere Tauchgänge</h3>
                <p>
                    Vom gemütlichen Feierabend-TG, über Flusstauchen, Eistauchen bis hin zum technischen Tauchen im advanced
                    Nitrox- und Trimix-Bereich tauchen wir so ziemlich alles.
                </p>
                <h3>Infrastruktur</h3>
                <p>
                    Wir planen und koordinieren uns hauptsächlich via den internen Bereichen unserer Webseite. Dazu gehören u.a.
                    ein Aktivitäten-System und internen Foren.
                </p>
                <p>
                    Weiter verfügen die Tauchbolde über Luft- und Nitrox-Schlüssel für die Füllstation WZT (Zürich Tiefenbrunnen)
                    wo wir rund um die Uhr Pressluft und Nitrox füllen können. Eine Beteiligung am Luftschlüssel ist optional. In der
                    Tauchgruppe gibt es es auch Zugang zu O2, Helium und Argon womit wir auch mal selbst Mischen können.
                </p>
            </div>
            <div class="col-md-6">
                <h3>Du willst bei uns mitmachen? Kein Problem!</h3>
                <p>
                    Wir sind keine Freunde von grossen hierachischen Strukturen und langwierigen Prozeduren.
                    Folgendes Vorgehen bei Interessenten hat sich die letzten Jahre bewährt:
                </p>
                <p>
                    Bei den Tauchbolden sind wir der Meinung, dass neben Erfahrung und Ausbildung auch die
                    "Chemie" zwischen den Mitgliedern stimmen sollte, um zusammen anspruchsvollere Tauchgänge
                    sicher durch zu führen. Darum handhaben wir es so, dass Interessenten auf ein paar Tauchgänge
                    mit uns mitkommen. Dabei kann man sich gegenseitig kennen lernen und die Details klären/austauschen.
                    Anschliessend kann der Interessent entscheiden, ob er/sie nach wie vor bei uns mitmachen will.
                    Auch die Tauchbolde führen intern eine Abstimmung durch. Passt es von beiden Seiten her nach
                    wie vor, so steht der Aufnahme nichts mehr im Weg.
                </p>
                <p>
                    Bist Du ein/e erfahrene/r Kaltwassertaucher und hast mindestens den PADi Rescue oder äquivalent
                    sowie ein paar hundert Tauchgänge und willst regelmässig mit uns in die heimischen Gewässer abtauchen,
                    dann melde Dich bei uns.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <h3>Aktuelle Mitglieder</h3>

            <partial name="_MemberList" model="@Model" />
        </div>
    </div>
</div>