@using Org.BouncyCastle.Asn1.Ocsp
@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banners/banner_4.jpg" alt="Tauchbolde" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    Wir sind Kaltwassertaucher.
                    <a class="btn btn-default" asp-action="about">
                        Über uns
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banners/banner_2.jpg" alt="Visual Studio" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    Wir tauchen in den schweizer Seen und Flüssen.
                    <a class="btn btn-default" asp-action="about">
                        Über uns
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banners/banner_3.jpg" alt="Visual Studio" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    Wir tauchen das ganze Jahr über.
                    <a class="btn btn-default" asp-action="about">
                        Über uns
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banners/banner_1.jpg" alt="Visual Studio" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    'Hausriff' ist der Zürichsee.
                    <a class="btn btn-default" asp-action="about">
                        Über uns
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banners/banner_5.jpg" alt="Visual Studio" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    Erfahrung und Zusammenhalt.
                    <a class="btn btn-default" asp-action="about">
                        Über uns
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banners/banner_6.jpg" alt="Visual Studio" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p>
                    Tief, dunkel, kalt.
                    <a class="btn btn-default" asp-action="about">
                        Über uns
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Vorheriges</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Nächstes</span>
    </a>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Willkommen</h3>
        <p>
            Die Tauchbolde sind ein kleiner Haufen angefressener Taucher die auch noch bei Wind und Wetter in die einheimischen Seen und Flüsse steigen.
            Wir gehören keinem Tauchshop und keiner Tauchschule an und verstehen uns auch nicht als Tauchclub. Am besten würde es das Wort
            "Interessensgemeinschaft" treffen.
        </p>
        <a class="btn btn-primary" asp-action="About" asp-controller="Home">Mehr ...</a>
        <h3>Aktititäten</h3>
        @await Component.InvokeAsync("RecentAndUpcomingEvents")

        <hr/>

        <partial name="_SocialMediaLinks" />
    </div>
    <div class="col-md-6">
        <h3>Logbuch</h3>
        @await Component.InvokeAsync("LogbookSummaryList")
    </div>
</div>