@{
    ViewData["Title"] = "Privatsphäre";
}
<div class="col-xs-12">
    <h2>@ViewData["Title"]</h2>
    <p>
        Wir von den Tauchbolden respektieren Deine Privatsphäre. Auf dieser Seite wollen wir Dich
        informieren, was und warum wir von Dir speichern.
    </p>
</div>

<div class="col-md-6">
    <h4>Anonyme Besucher dieser Webseite</h4>

    <p>
        Von den anonymen Besuchern speichern wir keine persönliche Daten. Wir haben
        Application-Insights von Microsoft integriert um allgemeine Auswertungen
        machen zu können, welche Funktionen der Webseite die Besucher interessieren
        und welche wir künfitg evtl. entsorgen können. Die Application-Insights
        dienen uns auch, wenn auf der Seite Fehler auftreten. Die Fehlerinformationen
        werden aufgezeichnet und können von uns zur Problembehebung und Verbesserung
        der Webseite genutzt werden.
    </p>

    <p>
        Die Log- und Telemetriedaten zeichnen aber keine heikle, persönliche Daten
        von den Webseiten-Besuchern auf.
    </p>
</div>

<div class="col-md-6">
    <h4>Tauchbolde Mitglieder</h4>

    <p>
        Wenn Du als Tauchbold-Mitglied angemeldet bist, dann speichern wir von Dir
        ein paar Informationen mehr als von anonymen Webseiten-Besuchern aber ebenfalls
        keine heiklen persönliche Daten.
    </p>

    <p>
        Neben den normalen Application-Insights (siehe oben) speichern wir noch Deine
        Login-Informationen sofern Du Dich direkt bei uns registriert hast und keinen
        externen Login-Provider wie z.B. Microsoft verwendest. Diese Daten können kannst
        Du jederzeit in Deinem <em>Account</em> unter
        <em><a href="Identity/Account/Manage/PersonalData">Personal data</a></em> anschauen
        und löschen (nach dem Löschen funktioniert Dein Login aber nicht mehr).
    </p>

    <p>
        Zusätzlich speichern wir noch Dein Tauchbolde-Profil welches Du selbstständig
        pflegen kann. Dieses findest Du im Benutzermenu unter
        <em>Mein Tauchbolde Profil</em>. Weiter speichern wir natürlich von Dir erstellte
        Aktivitäten und An-/Abmeldungen von Aktivitäten.
    </p>

    <p>
        Hast Du Frage oder Anregungen zu diesen Auführungen melde Dich bitte bei uns.
    </p>
</div>