body {
    font-family: Helvetica, sans-serif;
    color: #030303;
}

.list {
    list-style: none;
    padding: 0;
}

.timestamp {
    font-size: small;
    float: right;
}

.list li {
    background-color: #0d87e9;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.list li.Declined {
    background-color: #e51c23;
}

.list li.Accepted {
    background-color: #4caf50;
}

.list li a,
.list li a:visited,
.list li a:hover,
.list li a:active {
    color: #fff;
}

.message-type {
    font-weight: bold;
}