body {
    font-family: Helvetica, sans-serif;
    color: #030303;
}

.notification-list {
    padding: 0;
}

.icon {
    float: left;
}

.timestamp {
    font-size: small;
    float: right;
}

.notification-list .notification-item {
    background-color: #0d87e9;
    margin-left: 55px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.notification-list .notification-item.Declined {
    background-color: #e51c23;
}

.notification-list .notification-item.Accepted {
    background-color: #4caf50;
}

.notification-list .notification-item a,
.notification-list .notification-item a:visited,
.notification-list .notification-item a:hover,
.notification-list .notification-item a:active {
    color: #fff;
}

.message-type {
    font-weight: bold;
}