@using Tauchbolde.Web.Models.ViewComponentModels
@model RecentAndUpcomingEventsViewModel

@{
    var upcomingEvents = Model.RecentEvents.Where(e => e.StartTime > DateTime.Now).ToList();
    var recentEvents = Model.RecentEvents.Where(e => e.StartTime < DateTime.Now).ToList();
}

<section>
    <h4>Bevorstehend</h4>
    <ul>
        @foreach (var e in upcomingEvents)
        {
            <li>@e.Name</li>
        }
    </ul>
</section>

<section>
    <h4>Vergangene</h4>

    <ul>
        @foreach (var e in recentEvents)
        {
            <li>@e.Name</li>
        }
    </ul>
</section>
