body {
    font-family: Helvetica, sans-serif;
}

.list {
    list-style: none;
    padding: 0;
}

.timestamp {
    font-size: small;
    color: #9d9d9d;
    float: right;
}

.list li {
    border: #0d87e9 1px solid;
    border-left: #0d87e9 10px solid;
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
}

.list li.Declined {
    border-color: #e51c23;
}

.list li.Accepted {
    border-color: #4caf50;
}

.message-type {
    font-weight: bold;
}