@{
    ViewData["Title"] = "Administration";
}
<h2>@ViewData["Title"]</h2>

<a class="btn btn-lg btn-default" asp-action="MemberManagement">
    <span class="glyphicon glyphicon-user"></span><div>Mitgliederverwaltung</div>
</a>