@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a id="umenu" class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <gravatar additional-css-classes="img-circle" email-address="@UserManager.GetUserName(User)" image-size="24">
                </gravatar>
                @UserManager.GetUserName(User) <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="umenu">
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                </li>
                <li>
                    <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@UserManager.GetUserName(User)">Profil</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" title="Abmelden">Abmelden</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Registrieren</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Anmelden</a></li>
    </ul>
}