@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Tauchbolde.Common.DomainServices.Repositories.IDiverRepository DiverRepository
@{
    var isAdmin = false;
    var userName = "";
    Tauchbolde.Common.Model.Diver diver = null;

    if (User != null)
    {
        var user = await UserManager.GetUserAsync(User);
        isAdmin = user != null && await UserManager.IsInRoleAsync(user, Rolenames.Administrator);
        userName = UserManager.GetUserName(User);
        if (!string.IsNullOrWhiteSpace(userName))
        {
            diver = await DiverRepository.FindByUserNameAsync(userName);
        }
    }
}
@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a id="umenu" class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <vc:avatar avatar-size="Small" diver="@diver" />
                @userName <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="umenu">
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                </li>
                @if (diver != null)
                {
                    <li>
                        <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@diver.Id">Mein Tauchbolde-Profil</a>
                    </li>
                    <li>
                        <a asp-controller="MassMail" asp-action="Index">Email-Versand</a>
                    </li>
                }
                @if (isAdmin)
                {
                    <li role="separator" class="divider"></li>
                    <li>
                        <a asp-controller="Admin" asp-action="Index">Administration</a>
                    </li>
                }
                <li role="separator" class="divider"></li>
                <li>
                    <a asp-action="Logout" asp-controller="Home" title="Abmelden">Abmelden</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Registrieren</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Anmelden</a></li>
    </ul>
}