@using Tauchbolde.Web.Models.ViewComponentModels
@model RecentNewsViewModel
<section class="recentnews">

    @foreach(var news in Model.RecentNews)
    {
        var introImage = news.PostImages.FirstOrDefault(i => i.Id.Equals(news.IntroImageId));
        var imageUrl = introImage != null && !string.IsNullOrWhiteSpace(introImage.ImageUrlThumbnail)
            ? Url.Content("postimages/" + introImage.ImageUrlThumbnail)
            : Url.Content("images/postimage.png");

        <div class="thumbnail">
            <img src="@imageUrl" alt="@introImage?.Caption">
            <div class="caption">
                <h3>@news.Title <span class="small"></span></h3>
                <p>@news.Text</p>
                <p><a href="#" class="btn btn-primary" role="button">Mehr ...</a>
                </p>
            </div>
        </div>
    }
</section>