<ul>
    <li><a target="_blank" href="http://www.meteoschweiz.admin.ch/">Meteo Schweiz</a></li>
    <li><a target="_blank" href="http://meteo.sf.tv">SF Meteo</a></li>
    <li><a target="_blank" href="https://tcaarau.ch/newtca/index.php/sichtweiten/sichtweiten-anzeigen">Sichtweiten (TC Aarau)</a></li>
    <li><a target="_blank" href="http://www.hydrodaten.admin.ch/de/index.html?lang=de">Hydrodaten Schweiz...</a></li>
    <li><a target="_blank" href="https://www.srf.ch/meteo/badewetter">Wassertemperaturen...</a></li>
</ul>
