

<p>
    Aus Erfahrung ca. 1 Bar mehr mit He und/oder O2 toppen da die Flaschen später noch abkühlen. Kann je nach Setup etwas variieren.
</p>

<form class="form-horizontal">

    <div class="form-group">
        <div class="col-sm-4">
            <h3>Restinhalt der Flasche</h3>
        </div>
    </div>

    <div class="form-group">
        <label for="GMsourcePressure" class="col-sm-2 control-label">Restdruck</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">Bar</div>
                <input type="number" class="form-control" id="GMsourcePressure" value="20" min="0" max="300" step="5" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="GMsourceO2" class="col-sm-2 control-label">O2-Gehalt</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">%</div>
                <input type="number" class="form-control" id="GMsourceO2" value="50" min="10" max="100" step="1" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="GMsourceHe" class="col-sm-2 control-label">He-Gehalt</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">%</div>
                <input type="number" class="form-control" id="GMsourceHe" value="0" min="0" max="100" step="1" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <h3>Gewünschte Mischung</h3>
        </div>
    </div>

    <div class="form-group">
        <label for="GMtargetPressure" class="col-sm-2 control-label">Zieldruck</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">Bar</div>
                <input type="number" class="form-control" id="GMtargetPressure" value="210" min="0" max="300" step="5" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="GMtargetO2" class="col-sm-2 control-label">O2-Gehalt</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">%</div>
                <input type="number" class="form-control" id="GMtargetO2" value="50" min="10" max="100" step="1" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="GMtargetHe" class="col-sm-2 control-label">He-Gehalt</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">%</div>
                <input type="number" class="form-control" id="GMtargetHe" value="0" min="0" max="100" step="1" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <h3>Topen mit</h3>
        </div>
    </div>

    <div class="form-group">
        <label for="GMtoppingO2" class="col-sm-2 control-label">O2-Gehalt</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">%</div>
                <input type="number" class="form-control" id="GMtoppingO2" value="32" min="0" max="100" step="1" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <span class="col-sm-2"></span>
        <div class="col-sm-2">
            <button class="btn btn-primary" type="button" id="GMcalc">Berechnen</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <div id="GMfailt" class="alert alert-danger" style="display: none;" role="alert">Diese Mischung kann mit den gewählten Parameter nicht berechnet werden.</div>
        </div>
    </div>

    <div class="form-group hidden has-success" id="GMrowAblass">
        <label for="GMresultAblass" class="col-sm-2 control-label">Ablassen auf</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">Bar</div>
                <input type="text" class="form-control" id="GMresultAblass" readonly="readonly" />
            </div>
        </div>
    </div>

    <div class="form-group" id="GMrowHE">
        <label for="GMresultHe" class="col-sm-2 control-label">Helium</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">Bar</div>
                <input type="text" class="form-control" id="GMresultHe" readonly="readonly" />
            </div>
        </div>
    </div>

    <div class="form-group" id="GMrowO2">
        <label for="GMresultO2" class="col-sm-2 control-label">O2</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">Bar</div>
                <input type="text" class="form-control" id="GMresultO2" readonly="readonly" />
            </div>
        </div>
    </div>

    <div class="form-group" id="GMrowTop">
        <label for="GMresultTop" id="GMresultTopLabel" class="col-sm-2 control-label">Toppen</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">Bar</div>
                <input type="text" class="form-control" id="GMresultTop" readonly="readonly" />
            </div>
        </div>
    </div>

</form>

<script>
    $(function () {
        $("#GMcalc").click(calculateGasMix);
    });

    function calculateGasMix() {
        var sourcePressure = $("#GMsourcePressure").val() * 1;
        var sourceO2 = $("#GMsourceO2").val() / 100;
        var sourceHe = $("#GMsourceHe").val() / 100;
        var sourceN2 = 1 - sourceO2 - sourceHe;

        var targetPressure = $("#GMtargetPressure").val() * 1;
        var targetO2 = $("#GMtargetO2").val() / 100;
        var targetHe = $("#GMtargetHe").val() / 100;
        var targetN2 = 1 - targetO2 - targetHe;

        var toppingO2 = $("#GMtoppingO2").val() / 100;
        var toppingN2 = 1 - toppingO2;

        var toppingMixBar;
        var toppingHeBar;
        var toppingO2Bar;

        var pressureWork = sourcePressure;

        do {
            var sourceO2Bar = pressureWork * sourceO2;
            var sourceHeBar = pressureWork * sourceHe;
            var sourceN2Bar = pressureWork * sourceN2;
            var targetO2Bar = targetPressure * targetO2;
            var targetHeBar = targetPressure * targetHe;
            var targetN2Bar = targetPressure * targetN2;

            var deltaN2Bar = targetN2Bar - sourceN2Bar;

            toppingMixBar = deltaN2Bar / toppingN2;
            toppingHeBar = targetHeBar - sourceHeBar;
            toppingO2Bar = targetO2Bar - sourceO2Bar - (toppingMixBar * toppingO2);

            var pressureHe = pressureWork + toppingHeBar;
            var pressureO2 = pressureWork + toppingHeBar + toppingO2Bar;
            var pressureTop = pressureWork + toppingHeBar + toppingO2Bar + toppingMixBar;

            $("#GMresultTopLabel").html("Toppen " + (toppingO2 * 100).toFixed(0) + "%");
            $("#GMresultHe").val(toppingHeBar.toFixed(0) + " (" + pressureHe.toFixed(0) + ")");
            $("#GMresultO2").val(toppingO2Bar.toFixed(0) + " (" + pressureO2.toFixed(0) + ")");
            $("#GMresultTop").val(toppingMixBar.toFixed(0) + " (" + pressureTop.toFixed(0) + ")");

            if (toppingHeBar < 0 || toppingO2Bar < 0 || toppingMixBar < 0) {
                pressureWork--;
            }

        } while (pressureWork > 0 && (toppingHeBar < 0 || toppingO2Bar < 0 || toppingMixBar < 0));

        if (pressureWork !== sourcePressure && pressureWork > 0) {
            $("#GMrowAblass").removeClass("hidden");
            $("#GMresultAblass").val(pressureWork.toFixed(0));
        } else {
            $("#GMrowAblass").addClass("hidden");
        }

        if (toppingHeBar < 0 || toppingO2Bar < 0 || toppingMixBar < 0) {
            $("#GMfailt").show();
            $("#GMrowHE").removeClass("has-success");
            $("#GMrowO2").removeClass("has-success");
            $("#GMrowTop").removeClass("has-success");
            $("#GMrowHE").addClass("has-warning");
            $("#GMrowO2").addClass("has-warning");
            $("#GMrowTop").addClass("has-warning");
        } else {
            $("#GMfailt").hide();
            $("#GMrowHE").removeClass("has-warning");
            $("#GMrowO2").removeClass("has-warning");
            $("#GMrowTop").removeClass("has-warning");
            $("#GMrowHE").addClass("has-success");
            $("#GMrowO2").addClass("has-success");
            $("#GMrowTop").addClass("has-success");
        }
    }
</script>