<form class="form-horizontal">
    <div class="form-group">
        <label for="BMdepth" class="col-sm-2 control-label">Maximale Tiefe</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">Meter</div>
                <input type="number" class="form-control" id="BMdepth" value="30" min="6" max="65" step="1" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="BMppo2" class="col-sm-2 control-label">Partialdruck O2</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="BMppo2" value="1.4" min="0.8" max="1.6" step="0.1">
        </div>
    </div>

    <div class="form-group">
        <span class="col-sm-2"></span>
        <div class="col-sm-2">
            <button class="btn btn-primary" type="button" id="BMcalc">Berechnen</button>
        </div>
    </div>

    <div class="form-group">
        <label for="MODresult" class="col-sm-2 control-label">Bester Mix</label>
        <div class="col-sm-2">
            <div class="input-group">
                <div class="input-group-addon">EAN</div>
                <input type="text" class="form-control" id="BMresult" readonly="readonly" />
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        $("#BMcalc").click(function () {
            var depth = $("#BMdepth").val();
            var ppo2 = $("#BMppo2").val();


            if (!isNaN(depth) && !isNaN(ppo2)) {
                var maxPressure = depth / 10 + 1;
                var mix = ppo2 / maxPressure * 100;
                $("#BMresult").val(mix.toFixed(0));
            }
        });
    });
</script>