<ul>
    <li>Sichtweiten: <a target="_blank" href="http://www.swiss-divers.ch/index.php?option=com_visibility&amp;task=show&amp;Itemid=45">Swiss-Divers</a> und <a target="_blank" href="https://tcaarau.ch/newtca/index.php/sichtweiten/sichtweiten-anzeigen">TC Aarau ...</a></li>
    <li><a target="_blank" href="http://www.hydrodaten.admin.ch/de/index.html?lang=de">Hydrodaten Schweiz...</a></li>
    <li><a target="_blank" href="http://www.meteo.sf.tv/sfmeteo/bathing_weather">Wassertemperaturen...</a></li>
</ul>
