<ul>
    <li><a target="_blank" href="http://www.meteoschweiz.admin.ch/web/de.html">Meteo Schweiz</a></li>
    <li><a target="_blank" href="http://meteo.sf.tv">SF Meteo</a></li>
</ul><p>Aussichten:</p>
<object type="application/x-shockwave-flash" style="width:224px;height:126px" data="http://www.srfcdn.ch/meteo/prognosen/media/embed/embed_small_aussichten.swf"><param value="http://www.srfcdn.ch/meteo/prognosen/media/embed/embed_small_aussichten.swf" name="movie"><param name="quality" value="high"><param name="allowFullScreen" value="true"></object>
<p><a href="http://www.meteo.sf.tv">SF METEO</a></p>
<p>Prognosen:</p>
<object type="application/x-shockwave-flash" style="width:573px;height:350px" data="http://www.srfcdn.ch/meteo/prognosen/media/embed/embed_big_nav.swf"><param value="http://www.srfcdn.ch/meteo/prognosen/media/embed/embed_big_nav.swf" name="movie"><param name="quality" value="high"><param name="allowFullScreen" value="true"></object>
<p><a href="http://www.meteo.sf.tv">SF METEO</a></p>